{% extends "chandeleur_app/base.html" %}{% load i18n %}{% load static %}

{% block title %}{% trans "Accueil" %}{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    {% if request.user.username %}
        <div class="center">

            <div id="menu">
                <li><a href="{% url 'chandeleur_app-statistiques' %}">Statistiques</a></li>
                <li><a href="{% url 'chandeleur_app-home_view' %}">Inscription</a></li>
            </div>


            <div id="content">
                <div class="block">
                    <div class="title">Global: </div>

                    <div>
	                    <table><tbody>
	                    	 <tr>
	                    	 	<th>Nombre d'inscrits : </th><th>Nombre de femmes : </th><th>Nombre d'hommes : </th>
	                    	 </tr>
	                    	 <tr>
	                    	 	<td>{{ nb_sign }}</td>
	                    	 	<td>{{ nb_woman }}</td>
	                    	 	<td>{{ nb_man }}</td>
	                    	 </tr>
	                    </tbody></table>
	                </div>
	                <div>
	                    <table><tbody>
	                    	 <tr>
	                    	 	<th>Nombre d'inscrits : </th><th>Nombre de bénévoles : </th><th>Nombre de marcheurs : </th><th>Nombre de payeur : </th>
	                    	 </tr>
	                    	 <tr>
	                    	 	<td>{{ nb_sign }}</td>
	                    	 	<td>{{ nb_sign_volunteer }}</td>
	                    	 	<td>{{ nb_sign_real }}</td>
	                    	 	<td>{{ nb_sign_payed }}</td>
	                    	 </tr>
	                    </tbody></table>
	                </div>
	            </div>

                <div class="block">
                    <div class="title">Parcours: </div>

                    <div>
	                    <table><tbody>
	                    	 <tr>
	                    	 	<th>Petit :</th><th>Moyen : </th><th>Grand : </th>
	                    	 </tr>
	                    	 <tr>
	                    	 	<td>{{ nb_small }}</td>
	                    	 	<td>{{ nb_medium }}</td>
	                    	 	<td>{{ nb_big }}</td>
	                    	 </tr>
	                    </tbody></table>
	                </div>
	            </div>

	            <div class="block">
	                <div class="title">Clubs</div>
	                <div>
		                <table><tbody>
		                	<tr><th>Nom du club : </th><th>Femme -18 ans : </th><th>Femme +18 ans :  </th><th>Homme -18 ans : </th><th>Homme +18 ans : </th><th>Total : </th></tr>
	                        {% for field in info %}
	                        	<tr><td>{{ field.club_name }}</td><td>{{ field.young_woman }}</td><td>{{ field.old_woman }}</td><td>{{ field.young_man }}</td><td>{{ field.old_man }}</td><td>{{ field.total }}</td></tr>
	                        {% endfor %}
	                    </tbody></table>
	                </div>
	            </div>    

				<div class="block">
	                <div class="title">Ages:</div>
	                <div class="subtitle">Les femmes les plus jeunes :</div>
	                <div>
		                <table><tbody>
		                	<tr><th>Prénom : </th><th>Nom : </th><th>Date de naissance :  </th></tr>
	                        {% for field in young_woman %}
	                        	<tr><td>{{ field.first_name }}</td><td>{{ field.last_name }}</td><td>{{ field.birth_date }}</td></tr>
	                        {% endfor %}
	                    </tbody></table>
	                </div>

	                <div class="subtitle">Les femmes les plus agés :</div>
	                <div>
		                <table><tbody>
		                	<tr><th>Prénom : </th><th>Nom : </th><th>Date de naissance :  </th></tr>
	                        {% for field in old_woman %}
	                        	<tr><td>{{ field.first_name }}</td><td>{{ field.last_name }}</td><td>{{ field.birth_date }}</td></tr>
	                        {% endfor %}
	                    </tbody></table>
	                </div>

	                <div class="subtitle">Les hommes les plus jeunes :</div>
	                <div>
		                <table><tbody>
		                	<tr><th>Prénom : </th><th>Nom : </th><th>Date de naissance :  </th></tr>
	                        {% for field in young_man %}
	                        	<tr><td>{{ field.first_name }}</td><td>{{ field.last_name }}</td><td>{{ field.birth_date }}</td></tr>
	                        {% endfor %}
	                    </tbody></table>
	                </div>

	                <div class="subtitle">Les hommes les plus agés :</div>
	                <div>
		                <table><tbody>
		                	<tr><th>Prénom : </th><th>Nom : </th><th>Date de naissance :  </th></tr>
	                        {% for field in old_man %}
	                        	<tr><td>{{ field.first_name }}</td><td>{{ field.last_name }}</td><td>{{ field.birth_date }}</td></tr>
	                        {% endfor %}
	                    </tbody></table>
	                </div>
	                <br>
	                
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
